@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>

<form method="POST">
    <label for="firstName">Price Verification</label>
    <input type="text" name="price" placeholder="Enter the price to validate" />
    <input type="submit" />
</form>
